body {
    background-color: #EDE8DE;
    color: #383838;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    padding-top: 20px;
    margin: auto;
    margin-bottom: 20px;
    text-align: right;
    width: 80%;
}

.my-name {
    font-family: new-spirit, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: #054D47;
    text-align: right;
    text-decoration: none;
}

.wicker {
    font-weight: 600;
}

.my-name:hover {
    color: teal;
}

.container {
    width: 90%;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}

h1 {
    font-family: synthemesc, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    color:#B25660;
    margin-top: 100px;
}

h1:hover {
    color: teal;
}

h2 {
    font-family: new-spirit, sans-serif;
    font-weight: 600;  
    font-style: normal;
    font-size: 40px;
    margin-bottom: 20px;
    color: #856496;
}

h3 {
    font-family: new-spirit, sans-serif;
    font-weight: 400;  
    font-style: normal;
    font-size: 24px;
    color: #487677;
    margin-bottom: 20px;
}

p {
    line-height: 1.5;
    margin: auto;
    margin-bottom: 15px;
}

.hero {
    text-align: left;
    padding-bottom: 180px;
    min-height: 50vh;
}

.bio-section {
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
}

.fish {
    width: 500px;
    margin: auto;
}

.fish-text {
    max-width: 45%;
    margin-left: auto;
    margin-right: 40px;
}

.sticky-section {
    min-height: 150vh;
    padding-bottom: 100px;
    padding-top: 100px;
}

.big-text {
    font-family: synthemesc, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    color:#B25660;
    text-align: center;
    position: sticky;
    top: 140px;
}

/* Full screen image */
.fish-beach {
    width: 100%;
    margin-bottom: 25px;
}