body {
    background-color: rgb(240, 235, 226);
    color: #383838;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 50px;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}

.container {
    background-color: rgb(228, 218, 199);
    width: 70%;
    margin: auto;
    padding: 40px;
    text-align: center;
}

h1 {
    font-family: rig-shaded-bold-face, sans-serif;
    font-weight: 700;   
    font-style: normal;
    font-size: 60px;
    color: indianred;
    margin-bottom: 10px;
}

h2 {
    font-family: new-spirit, sans-serif;
    font-weight: 400;  
    font-style: normal;
    font-size: 36px;
    margin-bottom: 40px;
}

p {
    line-height: 1.5;
    max-width: 600px;
    margin: auto;
    margin-bottom: 15px;
}

.fish {
    width: 400px;
    margin: 40px 0;
}
